meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Aportes de las empresas del sector solidario
meta(meta name="description" content="En este material de formación se estudiarán los diferentes tipos de organizaciones solidarias de desarrollo, que a través de personas y entes jurídicos se forman asociativamente, permitiendo que las comunidades y los territorios se integren para el desarrollo económico del país.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")