h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 230101142-04. Evaluar las ideas de los productos, servicios, direccionamiento estratégico frente a las necesidades y requerimientos establecidos en la constitución de la empresa asociativa, teniendo en cuenta las necesidades de los asociados y requerimientos legales, ajustando la unidad de negocio.






