.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Asociación: 
            | vinculación de varias personas o gremios para cumplir algún fin.
        hr

        p
            strong.mr-2 Comunicación verbal: 
            | es aquella que utiliza signos lingüísticos en la palabra.

        hr

        p
            strong.mr-2 Equipo de trabajo: 
            | es la unión de varias personas para llevar a cabo una actividad para el cumplimiento de un objetivo.

        hr

        p
            strong.mr-2 Formalizar: 
            | tomar responsabilidad y compromiso sobre algo que se creó.  

        hr

        p
            strong.mr-2 Habilidad: 
            | es la capacidad que adquiere una persona para cumplir una tarea determinada.

        hr

        p
            strong.mr-2 Habilidad social: 
            | es la conducta socialmente habilidosa emitidas por un individuo en un contexto. 

        hr

        p
            strong.mr-2 Motivación: 
            | guiar a las personas a cumplir un objetivo de acuerdo con alguna actividad determinada. 