.container
    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white
        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th(style="width:160px") Enlace del recurso

            tbody
                tr
                    td Cartilla sociedades mercantiles en Colombia
                    td Publicación en PDF
                    td 
                        a(href="media/documentos/AA4_MC2_Cartilla_sociedades_mercantiles.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver material

                                    tr
                    td Curso Básico de Economía Solidaria
                    td Publicación en PDF
                    td 
                        a(href="media/documentos/AA4_MC1_Curso_basico.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver material