//Colores base del material de formación
$brand-color-dark: #068E9F;
$text-color-dark: #fff;


//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: #073C5E;
$text-color-light: $primary;
$brand-color-secondary: #EDF1F3;

$brand-color-optional: #DEF3F5;